.dvn-scroller.glideDataEditor {
    color: blue;
}

.st-ak,
.st-al,
.st-bc,
.st-bd,
.st-be,
.st-as,
.st-bf,
.st-bg,
.st-ar,
.st-bh,
.st-bi,
.st-bj,
.st-bk {
    border-color: black;
}

.main {
    background-color: rgb(224, 249, 244, 0.5);
}

.st-emotion-cache-7ym5gk {
    color: white;
    background-color: red;
}